@import 'responsive';
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    @include d-flex(center,center,row);
    padding: $padding $padding*3+5px 0;
    @include media-tab{
        @include d-flex(flex-end,center,row);
        padding: $padding $padding;
    }
    @include media-mob{
        padding: $padding $padding;
        @include d-flex(flex-end,center,row);
    }
    .menu__btn{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        color: $primary;
        display: none;
        font-size: 18px;
        z-index: 9999;
        @include media-tab{
            @include d-flex(center, center, row);
        }
        @include media-mob{
            @include d-flex(center, center, row);
        }
    }
    .nav{
        width: 100%;
        transition: $transition;
        @include media-tab{
            position: fixed;
            top: 0;
            left: -100%;
            height: 100%;
            background-color: $secondary;
        }
        @include media-mob{
            position: fixed;
            top: 0;
            left: -100%;
            height: 100%;
            background-color: $secondary; 
        }
        .menu__nav{
            list-style-type: none;
            @include d-flex(flex-end,center,row);
            @include media-tab{
                width: 100%;
                height: 100%;
                @include d-flex(center,center,column);
            }
            @include media-mob{
                width: 100%;
                height: 100%;
                @include d-flex(center,center,column);
            }
            &__list{
                .nav__link{
                    display: inline-block;
                    text-decoration: none;
                    color: #fff;
                    padding: $padding;
                    transition: $transition;
                    font-size: 18px;
                    font-weight: map-get($font-weights, medium);
                    &:hover{
                        color: $secondary;
                    }
                    @include media-tab{
                        color: $primary;
                        font-size: 26px;
                        padding: $padding*1-5px $padding;
                        &:hover{
                            color: #fff;
                        }
                    }
                    @include media-mob{
                        color: $primary;
                        font-size: 26px;
                        padding: $padding*1-5px $padding;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
                &.active {
                    .nav__link{
                        color: $secondary;
                    }
                    @include media-tab{
                        .nav__link{
                            color: #fff;
                        }
                    }
                    @include media-mob{
                        .nav__link{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    nav.open{
        left: 0;
    }
}